.label {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.content{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.2rem;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
}