.wrapper {
  margin-top: 5px;
  height: calc(100vh - 230px);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

.removeBlockWrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
  }
}


.boxColor {
  width: 20px;
  height: 20px;
  background-color: beige;
}