.wrapper {
  margin-top: 5px;
  height: calc(100vh - 230px);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

.removeBlockWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.boxColor {
  width: 20px;
  height: 20px;
  background-color: beige;
}