.btnWrapper{
  display: grid;
  grid-template-columns: 40px minmax(50px, auto);
  grid-template-rows: 40px;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 2.5px;
}



.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 30px;
  border-radius: 15px;
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  & i {
    position: absolute;
    font-size: 31px;
  }
}

.categoryName {
  text-align: center;
  letter-spacing: 1px;
  color: white;
  padding: 0 10px 0 5px;
  word-break: break-all;

}