.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  width: 100%;
  height: 305px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  background: rgba(rgb(50, 50, 50), 1.0);
  // margin: 10px 10px 0 10px;
  color: white;
  overflow-y: hidden;

}

.titleBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 55px;
  padding: 5px;
  border-bottom: 1px solid black;
  overflow-y: hidden;
}

.title {
  max-width: calc(100% - 90px);
}

.content {
  padding: 5px;
  height: 100%;
}

.date {
  width: 100%;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
  background: rgba(rgb(25, 25, 25), 0.5);
  overflow-y: hidden;
  
  &Overlay{
    padding-top: 5px;
    background: rgba(rgb(25, 25, 25), 0.5) ;
  }

}


.buttonWrapper { 
  align-self: flex-start;
  display: flex;
  align-items: center;
  height: 45px;
}

.btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
}

